{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<section id="blog-section" class="bg-light rounded section-format">
    <div class="container-lg p-5">
        <div class="m-5">
            <div class="create-post">
                <h4>Contact information:</h4>

            </div>
            <div class="col-3 shadow p-3 bg-body rounded mt-4 justify-content-center">
                    <p class="fw-bold">Email: <p>daniel_sjonell@hotmail.com</p></p>
                    <p class="fw-bold">Phone Number: <p>0000000000000</p></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

