{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<section id="title-section" class="bg-light rounded section-format">
    <div>
        <h2 class="text-center mb-2 pt-5">Fill out the fields below to make your post!</h2>
    </div>
    <div class="container-lg p-5">
        <div class="row align-items-center">
            {{ wtf.quick_form(form) }}
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
        </div>
    </div>


</section>
{% endblock %}