

#submit {
    margin-top: 20px;
}

#login-container {
    width: 30%;
}

#login-section {
    margin-bottom: 300px;
}

#list-section {
    margin-top: 200px;
    margin-bottom: 390px;
}