{% extends 'base.html' %}

{% block content %}
<section id="title-section" class="bg-light rounded section-format">
    <div class="container-lg p-5">
        <div class="row align-items-center">
            <div class="welcome1 text-start col">
                <p class="display-1 pb-5">Welcome!</p>
                <p class="lead pt-2">This is a Website made to showcase my skills in both front-end and back-end Website development, I hope you will like it!</p>
                <div class="row mt-5">
                    <a class="col-4 btn btn-primary me-4" href=" {{ url_for('blog') }}">Go to Forum</a>
                </div>
            </div>
            <div class="welcome2 col">
                <img class="img-fluid d-none d-md-block rounded" src="{{ url_for('static', filename='css/images/your-passion.jpg') }}">
            </div>

        </div>
    </div>


</section>
{% endblock %}