{% extends 'base.html' %}



{% block content %}
<section class="pb-5">
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static/css/images/sample.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-5">Welcome to Photoreader!</h1>
        <p class="lead">This is the place for you to find out which colors your picture comprises of - upload your image to get going!.</p>
        <button class="btn btn-lg btn-primary mt-4"><a class="text-decoration-none text-light" href="{{ url_for('upload') }}">Upload image</a></button>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-2">

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}